* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif; 
  font-size: 20px;
  color: rgb(252, 249, 249);
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 12% 0;
  background-color: ;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #25274D;
}

section:nth-child(even) {
  background-color: #464866;
}

section {
  display: flex;
}

.boo_1 {
  display: block;
}

.boo_2 {
  display: block;
}

.boo_3 {
  display: block;
}

.thing_1 {
  color: rgb(87, 201, 250) ;
  font-weight: bold;
  text-decoration: underline;
  font-size: 120%;
}

.thing_2 {
  text-align: left;
  padding: 50px;
}

.thing_3 {
  color: white;
  text-align: left;
  padding: 50px;
}

.thing_4 {
  color: black;
}

.thing_5 {
  color: white;
  text-align: center;
}

a {
  color: rgb(239, 253, 176);
}

.Mug_Shot {
  width: 100%;
  border-radius: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: ;
}


@media screen and (min-width: 768px) {

.Mug_Shot {
  width: 768px;
}

.image {
  width: 768px; 
}

}


  
